.score-board {
  width: 320px;
  display: grid;
  grid-auto-flow: column;
  margin-top: 5px;
  div {
    color: $white;
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: $oColor;
    &:first-child {
        background-color: $xColor;
      }
  }
}
